Source: python-obspy-events
Section: python
Priority: extra
Maintainer: Moritz Beyreuther <beyreuth@geophysik.uni-muenchen.de>
Build-Depends: debhelper (>= 5)
Standards-Version: 0.0.2
Vcs-Svn: https://svn.obspy.org/trunk/obspy.events
Vcs-Browser: https://svn.obspy.org/trunk/obspy.events
Homepage: http://www.obspy.org

Package: python-obspy-events
Architecture: all
Depends: python (>= 2.5), python-support (>= 0.7.1), python-numpy (>= 1:1.1), 
 python-setuptools (> 0.6), python-obspy-core
Description: Event handling for ObsPy
 .
 Classes for handling events and picks.
 .
 For more information visit http://www.obspy.org.
