body {
  font: 13.34px/1.4 helvetica,arial,freesans,clean,sans-serif;
  margin: 20px;
  color: #0A0A0A;
}
pre {
  background-color: #EEEEEE;
}
th {
  background-color: #EEEEEE;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  border: 1px solid gray;
  min-width: 130px;
}
table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  margin-left: 1.5em;
  font: 13.34px/1.4 helvetica,arial,freesans,clean,sans-serif;
}
td {
  text-align: center;
  border: 1px solid gray;
  margin: 0;
  padding: 0.5em;
}
.error {
  background-color: #FF0000;
}
.failure {
  background-color: yellow;
}
.ok {
  background-color: #00FF00;
}
.badtime {
  color: #FF0000;
}
.slowtime {
  color: #FFA500;
}
.oktime {
}

ul.filter {
  margin-top: 5px;
  margin-bottom: 0;
}
ul.filter li {
  display: inline;
}
a {
  color: #4183C4;
  text-decoration: none;
}
a:hover {
  color: #4183C4;
  text-decoration: underline;
}
pre {
  margin-left: 1.5em;
}
