<html>
  <head>
    <title>Last 20 reports</title>
    <style type="text/css">
      $CSS</style>
  </head>
  <body>
    <a href="http://www.obspy.org"><img style="float: right; border: none;" src="http://obspy.org/www/obspy-logo.png" alt="ObsPy Logo" /></a>
    <h1>Last 20 reports</h1>
    <div id="filter">
      <b>System</b>: &nbsp; $FILTER_SYSTEM<br />
      <b>Arch</b>: &nbsp; $FILTER_ARCH<br />
      <b>Version</b>: &nbsp; $FILTER_VERSION<br />
    </div>
    <table>
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Errors/Failures [# Modules]</th>
          <th>Node</th>
          <th>System</th>
          <th>Python Version</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        $DATA
      </tbody>
    </table>
  </body>
</html>
